<form #ChapterForm="ngForm">
  <div id="haha" class="container">
    <div class="main-content">
      <section fxLayout="row wrap" fxLayoutAlign="center center">
       
        <div class="form-group">
          <label><b>New Chapter</b></label>
          <input [(ngModel)]="test.title" type="text" name="title" placeholder="Enter a new Chapter" required>
        </div>
        <div class="form-group">
          <input [(ngModel)]="test.Description" type="text" name="Description" placeholder="Enter a new Chapter"
            required>
        </div>
        <div class="form-group">
          <button (click)="onSubmit(ChapterForm)" class="btn btn-success btn-lg btn-block"><i id="eye"
              class="fa fa-plus" aria-hidden="true"></i> Add</button>
        </div>
      </section>
    </div>
  </div>
</form>

<div class="card text-center" style="width: 70%; margin-top: 10%; align-items: center;" *ngFor="let chapitre of chapters">
  <div class="card-header">
   
  </div>
  <div class="card-body" >
    <h5 class="card-title">{{chapitre.title}}</h5>
    <p class="card-text"> {{chapitre.Description}}</p>
    <a class="btn btn-primary" (click)=toggledisplay(chapitre.Id) >Delete</a>
  </div>

  <div id="test" [hidden]="isShow" class="container">Are you sure you want to remove the chapter {{id}}
    <td><button (click)="onDelete(id)" style="background-color: red;"><b>Yes</b></button></td>
    <td><button (click)=toggledisplay(id) style="background-color:green;"><b>Nooo</b></button></td>
  
  </div>
  
  
</div>

