<div>
    <h1> quiz List</h1>
    <div class="table-responsive-vertical shadow-z-1">
      <table id="table" style="width:60%" class="table table-hover table-mc-light-blue">
        <thead>
          <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody *ngFor="let q of quizes">
          <td>{{q.Id}}</td>
          <td>{{q.Title}}</td>
          <td>
            <i class="fa fa-eye" (click)="onSelect(q)"></i>
          </td>
          
        </tbody>
      </table>
      
    </div>