
<header class="header">
  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
  <ul class="menu">
    <li id="logout"><a (click)="Logout()">Logout</a></li>
    
  </ul>
</header>


<div class="container">
  <div class="login-box">
      <div class="main-content">
          <section fxLayout="row wrap" fxLayoutAlign="center center">
              <span style="text-align: center">
                  <img style="text-align: center" src="./assets/img/logo.jpg" />
              </span>
              <div class="form-group">
                <label ><b><i id="fa"  aria-hidden="true"></i> Welcome To The CED ACADEMY Platform</b></label>
              </div>
          </section>
      </div>
  </div>
</div>