<div class="main-content">
    <div class="container-fluid">
        <div class="col-md-12 left">
        </div>
        <div class="row ">
            
            <div class="col-md-4"  *ngFor="let item of imageList">
                <div class="card card-chart " style="height: 22rem;">
                    <div class="card-header text-center ">
                       <!-- <img class="ct-chart" id="AngularChart" src="../../../assets/img/angular.png"> -->
                      <!-- <link (click)="onSelect(course)">-->
                       <img class="ct-chart img-fluid"  [src]="item.imageUrl" height="100" width="200"  alt="">
                    <!-- </link>-->
                    </div>
                   <div class="card-body">
                        <h4 class="card-title">{{item.title}}</h4>
                        <p class="card-category">
                            {{item.Description}} </p>
                           
                    </div>
                    <div class="card-body text-center">
                        <div class="stats">
                            <a routerLink='/course-quiz/{{item.CourseID}}' > <i class="fa fa-plus" style="color: rgb(107, 61, 180);"></i> New Quiz </a>
                            <a routerLink='/course-exam/{{item.CourseID}}' style="padding-left: 3rem;" > <i class="fa fa-plus" style="color: rgb(107, 61, 180);"></i> New Exam </a>
                            <a routerLink='/course-chapter/{{item.CourseID}}' style="padding-left: 3rem;" > <i class="fa fa-plus" style="color: rgb(107, 61, 180);"></i> New Chapter </a>


                        </div>
                    </div>
                    
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> updated 4 minutes ago
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
  </div>