
  <div class="main-content">

    <section fxLayout="row wrap" fxLayoutAlign="center center">
      <mat-card fxFlex="500px" fxFlex.xs="100%">
     
        <mat-card-title>Create a new User</mat-card-title>

      
        <form #userRegistrationForm="ngForm" (ngSubmit)="onSubmit(userRegistrationForm)">

          <div class="form-group">
        
            <input  type="hidden" [(ngModel)]="user.Id" name="Id" class="form-control" placeholder="Id">
     
          </div>

          <div class="form-group">
        
            <input  type="hidden" [(ngModel)]="user.DepartmentID" name="DepartmentID" class="form-control" placeholder="DepartmentID">
     
          </div>

      
          <div class="form-group">
        
            <input matInput type="text" [(ngModel)]="user.Username" name="Username" class="form-control" placeholder="Username" required>
     
          </div>
  
      
          <div class="form-group">
       
            <input matInput type="text" [(ngModel)]="user.Email" name="Email" class="form-control" placeholder="Email" [pattern]="emailPattern" required>
      
          </div>

          <div class="form-group">
        
            <input matInput type="text" [(ngModel)]="user.FirstName" name="FirstName" class="form-control" placeholder="FirstName" required>
     
          </div>

          <div class="form-group">
        
            <input matInput type="text" [(ngModel)]="user.LastName" name="LastName" class="form-control" placeholder="LastName" required>
     
          </div>

          <div class="form-group">
        
            <input matInput type="password" [(ngModel)]="user.Password" name="Password" class="form-control" placeholder="Password" [pattern]="passwordpattern" required>
     
          </div>

          <div class="form-group">
        
            <input matInput type="password" [(ngModel)]="user.ConfirmPassword" name="ConfirmPassword" class="form-control" placeholder="ConfirmPassword" [pattern]="user.Password" required>
     
          </div>
          



           <div class="form-group">
        
            <button mat-raised-button type="submit" class="btn btn-success btn-lg btn-block" [disabled]="!userRegistrationForm.valid" >Create User</button>

      
          </div>

          <div class="form-group">
        

      
          </div>


    
        </form>


     
     
      </mat-card>
    </section>
    </div>





          

