<div>
  <h1> department List</h1>
  <div class="table-responsive-vertical shadow-z-1">
    <table id="table" style="width:60%" class="table table-hover table-mc-light-blue">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Description</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody id="department" *ngFor="let departement of departement">
        <td>{{departement.Id}}</td>
        <td>{{departement.Name}}</td>
        <td>{{departement.Description}}</td>
        <td><i class="fa fa-trash" (click)=toggledisplay(departement.Id)></i></td>
      </tbody>
    </table>
    <div id="test" [hidden]="isShow" class="container">Are you sure you want to remove the department {{id}}
      <td><button (click)="onDelete(id)"><b>Yes</b></button></td>
      <td><button (click)=toggledisplay(id)><b>Nooo</b></button></td>

    </div>
  </div>

  <form #depForm="ngForm">
    <div id="haha" class="container">
        <div class="main-content">
            <section fxLayout="row wrap" fxLayoutAlign="center center">
                <span style="text-align: center">
                    <img style="text-align: center" src="./assets/img/department.jpg" />
                </span>
                <div class="form-group">
                    <label><b>New department</b></label>
                    <input [(ngModel)]="dep.Name" type="text" name="Name" placeholder="Enter a new department name" required>
                </div>
                <div class="form-group">
                  <input [(ngModel)]="dep.Description" type="text" name="Description" placeholder="Enter a new department description" required>
              </div>
                <div class="form-group">
                    <button (click)="onSubmit(depForm)" class="btn btn-success btn-lg btn-block"><i id="eye" class="fa fa-plus"
                        aria-hidden="true"></i> Add</button>
                </div>
            </section>
        </div>
    </div>
</form>
