<div>
  <h1> quiz List</h1>
  <div class="table-responsive-vertical shadow-z-1">
    <table id="table" style="width:60%" class="table table-hover table-mc-light-blue">
      <thead>
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody *ngFor="let q of quizes">
        <td>{{q.Id}}</td>
        <td>{{q.Title}}</td>
        <td><i class="fa fa-trash" (click)=toggledisplay(q.Id)></i>
          <i class="fa fa-eye" (click)="onSelect(q)"></i>
        </td>
        
      </tbody>
    </table>
    <div id="test" [hidden]="isShow" class="container">Are you sure you want to remove the quiz {{id}}
      <td><button (click)="onDelete(id)" (click)="toggledisplay(id)"><b>Yes</b></button></td>
      <td><button (click)="toggledisplay(id)"><b>Nooo</b></button></td>
    </div>
  </div>

  <form #quizForm="ngForm">
    <div id="haha" class="container">
        <div class="main-content">
            <section fxLayout="row wrap" fxLayoutAlign="center center">
                <span style="text-align: center">
                    <img style="text-align: center" src="./assets/img/quiz.jpg" />
                </span>
                <div class="form-group">
                    <label><b>New quiz</b></label>
                    <input [(ngModel)]="quiz.Title" type="text" name="Title" placeholder="Enter a new quiz title" required>
                </div>
                
                <div class="form-group">
                    <button (click)="onSubmit(quizForm)" class="btn btn-success btn-lg btn-block"><i id="eye" class="fa fa-plus"
                        aria-hidden="true"></i> Add quiz</button>
                </div>
            </section>
        </div>
    </div>
</form>
