<div>
    <h1> exam List</h1>
    <div class="table-responsive-vertical shadow-z-1">
      <table id="table" style="width:60%" class="table table-hover table-mc-light-blue">
        <thead>
          <tr>
            <th>ID</th>
            <th>Exam</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody *ngFor="let e of exams">
          <td>{{e.Id}}</td>
          <td>{{e.Title}}</td>
          <td>
            <a  (click)="onSelect(e)"><i class="fa fa-eye"></i></a>
          </td>
          
        </tbody>
      </table>
      
    </div>