
<div class="main-content">
    <div class="container-fluid">
      <div class="col-md-8">
        <div class="card">
            <div class="card-header card-header-tabs card-header-info" >
                <h3 class="card-title">Upload File</h3>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card-body">
                      <form #fileForm=ngForm (ngSubmit)="OnSubmit(File)">
                          <img [src]="imageUrl" style="width:130px;height:130px" >
                  
                          <input  type="file" #File accept="file/*" (change)="handleFileInput($event.target.files)">
  
                          <button mat-raised-button type="submit" class="btn btn-info "  (click)="showNotification('top','right')" [disabled]="File.value=='' || !fileForm.valid" > Submit</button>
                          
                         
                          
                        </form>
                      
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  