<div class="main-content">

    <div fxLayout fxLayoutAlign="center center">
      <mat-form-field fxFlex="40%">
        <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </div>
    
  <table class="table table-striped" mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="OptionText">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Options </th>
      <td mat-cell *matCellDef="let element"> {{element.OptionText}} </td>
    </ng-container>
   
    <ng-container matColumnDef="update">
        <th mat-header-cell *matHeaderCellDef> Edit Option </th>
        <td mat-cell *matCellDef="let element">
          <button type="button" id="update" class="btn btn-success" (click)="redirectToUpdatePage(element.OpID)">
              <mat-icon class="mat-18"> Edit </mat-icon>
          </button>
        </td>
    </ng-container>
  
      <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef> Delete Option </th>
          <td mat-cell *matCellDef="let element">
            <button type="button" id="delete" class="btn btn-danger" (click)="redirectToDeletePage(element.OpID)">
                <mat-icon class="mat-18">Delete</mat-icon>
            </button>
          </td>
        </ng-container>
   
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSize]="2" [pageSizeOptions]="[2, 4, 6, 10, 20]">
  </mat-paginator>
  
<div>
  <button type="button" id="newoption" class="btn btn-danger" (click)="redirectToCreateOption()">
  <mat-icon class="mat-18">Create New Option</mat-icon>
  </button>
</div>
  
  </div>