<div class="container py-5">
    <div class="split right" class="container custom-container">
        <div class="col-md-12">
         
          <form #businessunitForm="ngForm" (ngSubmit)="onSubmit(businessunitForm)">
    
            <div class="form-group">
              <input type="hidden" [(ngModel)]="businessunit.BusinessUnitId" name="BusinessUnitId" class="form-control" placeholder="BusinessUnitId">
            </div>
    
          <div class="form-group">
            <input type="text" [(ngModel)]="businessunit.Name" name="Name" class="form-control" placeholder="Name">
          </div>
      
          <div class="form-group">
            <input type="text" [(ngModel)]="businessunit.Description" name="Description" class="form-control" placeholder="Description">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-success btn-lg btn-block" >Create businessunit</button>
          </div>
          </form>
      
        </div>
    
        <button class="btn btn-success btn-lg btn-block"(click)="onUpdate(BusinessUnitId,businessunit)">Edit</button>
    
    </div>
    </div>
    
    
    <div class="container py-5">  
        <h3 class="text-center text-uppercase">List of businessunits</h3>  
        <table class="table table-bordered table-striped">  
            <thead>  
                <tr class="text-center text-uppercase">  
                  <th>id</th>
                  <th>Name</th>
                  <th>Description</th>
                   
                    
                  </tr>  
            </thead>  
            <tbody>  
              <tr  *ngFor="let emp of businessunits"> 
                <td>{{emp.BusinessUnitId}}</td>
                <td>{{emp.Name}}</td>
                <td>{{emp.Description}}</td> 
                <td><button class="btn btn-outline-danger" (click)="onDelete(emp.BusinessUnitId)">Delete</button></td>
                <td><button class="btn btn-outline-primary" (click)="onUpdate(emp.BusinessUnitId,emp)">Update</button></td>
                <td><button class="btn btn-link" (click)="onSelect(emp)">My Departments</button></td>
    
    
    
    
               
      
              </tr>  
            </tbody>  
          </table>  
        </div>  
      
      
      
        
        