<div>
  <h1> businessunit List</h1>
  <div class="table-responsive-vertical shadow-z-1">
    <table id="table" style="width:60%" class="table table-hover table-mc-light-blue">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Description</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody id="BusinessUnit" *ngFor="let businessunit of business_unit">
        <td>{{businessunit.Id}}</td>
        <td>{{businessunit.Name}}</td>
        <td>{{businessunit.Description}}</td>
        <td>
         <i class="fa fa-eye" (click)="onSelect(businessunit)"></i>
        
        
          <i1 class="fa fa-trash" (click)="onDelete(businessunit.Id)"></i1>
        </td>

      </tbody>
    </table>
  </div>
  <form #businessForm="ngForm">
    <div id="haha" class="container">
      <div class="main-content">
        <section fxLayout="row wrap" fxLayoutAlign="center center">
          <span style="text-align: center">
            <img style="text-align: center" src="./assets/img/bu.jpg" />
          </span>
          <div class="form-group">
            <label><b>New businessUnit</b></label>
            <input [(ngModel)]="test.Name" type="text" name="Name" placeholder="Enter a new businessUnit" required>
          </div>
          <div class="form-group">
            <input [(ngModel)]="test.Description" type="text" name="Description" placeholder="Enter a new businessUnit"
              required>
          </div>
          <div class="form-group">
            <button (click)="onSubmit(businessForm)" class="btn btn-success btn-lg btn-block"><i id="eye"
                class="fa fa-plus" aria-hidden="true"></i> Add</button>
          </div>
        </section>
      </div>
    </div>
  </form>